doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
        meta(http-equiv="Cache-control" content="public")
        link(type="text/css" href="/css/bootstrap.min.css" rel="stylesheet")
        link(type="text/css" rel="stylesheet" href="/css/main.css")
        script(type="text/javascript" defer src="/js/vendor/jquery-3.2.1.min.js")
        script(type="text/javascript" defer src="/js/vendor/bootstrap.min.js")
        script(type="text/javascript" defer src="/js/main.min.js")
    body
        nav(class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse")
            button(class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
              span.navbar-toggler-icon
            .collapse.navbar-collapse#navbarCollapse
                ul.navbar-nav.mr-auto
                    li.nav-item 
                        span.nav-link(onclick='getAllNews()') Все
                    li.nav-item 
                        span.nav-link(data-number='1' onclick='getMonNews(this)') Январь
                    li.nav-item 
                        span.nav-link(data-number='2' onclick='getMonNews(this)') Февраль
                    li.nav-item
                        span.nav-link(data-number='3' onclick='getMonNews(this)') Март
                    li.nav-item 
                        span.nav-link(data-number='4' onclick='getMonNews(this)') Апрель
                    li.nav-item 
                        span.nav-link(data-number='5' onclick='getMonNews(this)') Май
                    li.nav-item
                        span.nav-link(data-number='6' onclick='getMonNews(this)') Июнь
                    li.nav-item 
                        span.nav-link(data-number='7' onclick='getMonNews(this)') Июль
                    li.nav-item 
                        span.nav-link(data-number='8' onclick='getMonNews(this)') Август
                    li.nav-item
                        span.nav-link(data-number='9' onclick='getMonNews(this)') Сентябрь
                    li.nav-item 
                        span.nav-link(data-number='10' onclick='getMonNews(this)') Октябрь
                    li.nav-item 
                        span.nav-link(data-number='11' onclick='getMonNews(this)') Ноябрь
                    li.nav-item
                        span.nav-link(data-number='12' onclick='getMonNews(this)') Декабрь
        .preloader-container(style="display: none;")
            .preloader
                .preloader-squares
                    .square
                    .square
                    .square
                    .square
        .container-fluid.newsBlock
            .row.justify-content-center
                .col-lg-2
                .col-lg-8.newsContainer
                .col-lg-2
        .container-fluid.pageNav
            .row.justify-content-center
                nav(aria-label="Page news navigation")
                  ul.pagination.justify-content-center